{% extends "base.html" %}

{% block content %}
<!-- Page Heading -->
<div class="flex flex-wrap justify-between items-end gap-3 pb-2">
    <div class="flex min-w-72 flex-col gap-1">
        <h1 class="text-[#130d1b] dark:text-white text-3xl md:text-4xl font-black leading-tight tracking-[-0.033em]">Cuentas por Cobrar</h1>
        <p class="text-[#6b4c9a] dark:text-[#a589cc] text-base font-medium leading-normal">Gestión de saldos y cobranza de clientes</p>
    </div>
</div>

<div id="clientes-table-container" hx-target="this" hx-swap="outerHTML">
   {% include 'cxc/_clientes_table_partial.html' %}
</div>

<div id="modal-container"></div>
{% endblock %}